* {
	box-sizing: border-box;
}

html,
body,
#root {
	min-width: 320px;
	min-height: 100%;
	margin: 0;
}

body {
	overflow: hidden;
}

button,
video {
	-webkit-tap-highlight-color: transparent;
}

button:focus-visible {
	outline: 1px dotted currentColor;
	outline-offset: -3px;
}

@media (max-width: 940px) {
	body {
		overflow: auto;
	}
}
